.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -html-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -5vw;
}

.embla__slide {
  position: relative;
  min-width: 65%;
  padding-left: 5vw;

  @screen md {
    min-width: 60%;
  }

  @screen 2xl {
    min-width: 50%;
  }
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
}

.embla__slide__img {
  @apply w-full rounded-lg;
  /* position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%); */
}

.embla__container {
  .embla__slide {
    @apply opacity-25 transition-opacity ease-in-out duration-300 !important;
  }
  .is-selected {
    @apply opacity-100 !important;

    .embla__slide__title {
      @apply text-red;
    }
  }
}