html {
  scroll-behavior: smooth;
  
  @screen md {
    cursor: none !important;
  }
}

body {
  @apply font-sans antialiased;

  @screen md {
    cursor: none !important;
  }
}

a, button {
  @screen md {
    cursor: none !important;
  }
}

/* 
.cursor--clicked {
  @apply font-mono block text-white leading-none text-xl;
  &:before {
    content: 'WATCH ON YOUTUBE'
  }
} */

.cursor-motion {
  position: fixed;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
  
  @apply font-mono text-white leading-none text-2xl bg-red dark:bg-pink opacity-30 hidden md:block;

  &:before {
    @apply opacity-0;
  }
}

.cursor-inner {
  position: fixed;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  
  z-index: 9999;
  pointer-events: none;
  
  @apply font-mono text-white leading-none text-2xl bg-red dark:bg-pink hidden md:block;

  &:before {
    @apply opacity-0;
  }
}

/* .cursor-motion {
  &.cursor--clicked {
    transform: scale3d(1.25) !important;
  }
}


.cursor-motion {
  &.cursor--link-hovered {
    transform: scale3d(1.25) !important;
  }
}

.cursor-inner {
  &.cursor--link-hovered-music-video {
    @apply bg-transparent border-transparent scale-[1] ml-[-35px] mt-[-28px] mix-blend-difference !important;

    &:before {
      @apply opacity-100 bg-blend-difference;
      content: 'WATCH VIDEO'
    }
  }
}

.cursor-inner {
  &.cursor--link-hovered-article {
    @apply bg-transparent border-transparent scale-[1] ml-[-35px] mt-[-28px] mix-blend-difference !important;

    &:before {
      @apply opacity-100 bg-blend-difference;
      content: 'READ MORE'
    }
  }
}

.cursor-inner {
  &.cursor--link-hovered-music-release {
    @apply bg-transparent border-transparent scale-[1] ml-[-35px] mt-[-28px] mix-blend-difference !important;

    &:before {
      @apply opacity-100 bg-blend-difference;
      content: 'STREAM ONLINE'
    }
  }
} */

/* Content Stylings */
.content > p {
  @apply mb-5 md:mb-8;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.content > ul {
  @apply mt-5 md:mt-8 mb-5 md:mb-8 text-[3.7vw] md:text-[2.2vw] lg:text-[20px] list-inside;
  text-indent: 0 !important;

  li {
    @apply block mb-2 md:mb-3;

    a {
      @apply underline;
    }
    
    &:before {
      content: '→';
      @apply pr-3 dark:text-yellow text-red transition-colors ease-in-out duration-300;
    }
  }
}

/* Heading Defaults */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6 font-display uppercase;
}

.active-pill {
  @apply bg-off-black dark:bg-off-white relative my-0 mx-auto text-center h-full transition ease-in-out duration-300;
  width: 86%;
  border-radius: 50% / 9%;
  text-indent: .1em;
}
.active-pill:before {
  content: '';
  position: absolute;
  top: 6%;
  bottom: 7%;
  right: -15%;
  left: -15%;
  background: inherit;
  border-radius: 15% / 50%;
}

/* Content Headings */
.content > h1,
.content > .h1 {
  @apply text-4xl;
}
  
.content > h2,
.content > .h2 {
  @apply text-xl md:text-2xl xl:text-3xl;
}

@responsive {
  .text-upright {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@responsive {
  .text-upright--rotate {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    @apply rotate-180;
  }
}

.text-indent {
  text-indent: 3.5vw;
}

.will-change {
  will-change: transform;
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }


.rounded-md,
.rounded-lg {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.meta-teaser__ticker, .meta-teaser__text {
  @apply transition-opacity duration-300;
}
.release-teaser__image, .release-teaser__video {
  @apply transition-transform ease-in-out duration-1000;
}

.release-teaser__title {
  @apply transition-colors ease-in-out duration-500;
}

.release-teaser:hover,
.release-teaser:focus {
  .release-teaser__image {
    @apply scale-105;
  }

  .release-teaser__video {
    @apply scale-125;
  }
  
  .release-teaser__title {
    @apply text-red;
  }

  .meta-teaser__text {
    @apply opacity-0;
  }
  
  .meta-teaser__ticker {
    @apply opacity-100;
  }
}

/* body {
  overscroll-behavior-y: none;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
} */


.clouds {
  animation: clouds 38s linear 0s infinite;
  opacity: 0;
  /* display: none !important; */
}

.clouds--delayed {
  opacity: 0;
  animation: cloudsDelayed 50s linear 15s infinite;
}

@keyframes clouds {
  0%   {transform: translateX(-100%); opacity: 0}
  20%  {opacity: 100}
  100% {transform: translateX(100%); opacity: 100}
}

@keyframes cloudsDelayed {
  0%   {transform: translateX(-150%); opacity: 0}
  10%  {opacity: 100}
  100% {transform: translateX(100%); opacity: 100}
}

.burst {
  animation: burst 0.85s ease infinite;
}

@keyframes burst {
  0%   {transform: scale(0); opacity: 0}
  80%   {transform: scale(1.1); opacity: 1}
  100%   {transform: scale(0.95); opacity: 0}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bag-inner::-webkit-scrollbar {
  display: none !important;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid currentColor;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="text"] {
  -webkit-appearance: none;
}